@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cardo:ital,wght@0,400;0,700;1,400&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* Estilos generales */
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    width: 100%;
}

main {
    width: 100%;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

/* Estilos cabecera */
header {
    width: 100%;
    min-height: 82vh;
    background-image: url('../assets/images/Layer\ 34.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.fondo-trans {
    width: 100%;
    min-height: 82vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(51, 55, 82, 0.96);
}

/* Estilos menu */
nav {
    width: 61%;
    min-height: 11vh;
    display: grid;
    grid-template-columns: 1fr 2fr 4fr;
    align-items: center;
    grid-template-rows: 1fr;
    border-bottom: 1px solid rgb(100, 103, 126);
}

nav img {
    height: 18.8px;
}

.menu {
    display: grid;
    margin: 0px;
    padding: 0px;
    grid-column: 3/4;
    grid-template-columns: repeat(5, auto);
    justify-items: end;
}

.link-menu a {
    color: rgb(215, 217, 230);
    font-weight: 500;
    font-size: 10px;
    font-family: "raleway";
}

/* Estilos secci贸n 1 */
.seccion-1 {
    width: 80%;
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.sec1-text {
    width: 60%;
}
.sec1-text h1 {
    color: rgb(254, 255, 253);
    font-family: "open sans";
    font-size: 3.2rem;
    line-height: 1.1;
}

.sec1-text p {
    margin-top: 20px;
    margin-bottom: 60px;
    color: rgb(198, 202, 216);
    font-family: "open sans";
    font-size: 17px;
    font-weight: 400;
}

/* Estilo boton */
.boton-1 {
    background-color: rgb(233, 68, 72);
    border: none;
    padding: 12px 40px;
    font-size: 9.5px;
    color: rgb(254, 255, 253);
    font-weight: 500;
}

/* Esilos secci贸n 2 */
.seccion-2 {
    width: 100%;
    min-height: 75vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px 40px;
    padding: 6% 21%;
}

.sec2-article {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr 2fr;
    justify-items: center;
    text-align: center;
}

.sec2-article img {
    height: 50px;
}

.sec2-article h3 {
    font-family: "raleway";
    color: rgb(81, 82, 82);
    font-size: 12px;
    font-weight: 800;
}

.sec2-article p {
    color: rgb(137, 138, 138);
    font-size: 12px;
    font-weight: 550;
    font-family: "raleway";
    line-height: 1.3;
}

/* Estilos secci贸n 3 */
.seccion-3 {
    width: 100%;
    min-height: 76vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1px;
}

.seccion-3 img {
    width: 100%;
    height: 100%;
}

/* Estilos secci贸n 4 */
.seccion-4 {
    width: 100%;
    min-height: 80vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    padding: 5.5% 19.5%;
    gap: 25px;
}

.sec4-article {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
    gap: 20px;
    font-family: "raleway";
}

.sec4-article p {
    font-size: 11px;
    line-height: 1.5;
    color: rgb(106, 106, 106);
}

.sec4-article img {
    width: 100%;
}

.sec4-art-nom h3 {
    color: rgb(67, 67, 67);
    font-size: 18px;
    font-weight: 500;
}

.sec4-art-nom h4 {
    margin-top: 10px;
    color: rgb(215, 105, 120);
    font-weight: 600;
    font-size: 11px;
}

.sec4-art-img {
    width: 50%;
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 4px;
}

.sec4-art-img img {
    border: 1px solid rgb(216, 216, 216);
    padding: 10px 12px;
    width: auto;
    height: 36px;
}