@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cardo:ital,wght@0,400;0,700;1,400&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* Estilos generales */
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    width: 100%;
}

main {
    width: 100%;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

/* Estilos cabecera */
header {
    width: 100%;
    min-height: 82vh;
    background-image: url('../assets/images/Layer\ 34.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.fondo-trans {
    width: 100%;
    min-height: 82vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(51, 55, 82, 0.96);
}

/* Estilos menu */
nav {
    width: 61%;
    min-height: 11vh;
    display: grid;
    grid-template-columns: 1fr 2fr 4fr;
    align-items: center;
    grid-template-rows: 1fr;
    border-bottom: 1px solid rgb(100, 103, 126);
}

nav img {
    height: 18.8px;
}

.menu {
    display: grid;
    margin: 0px;
    padding: 0px;
    grid-column: 3/4;
    grid-template-columns: repeat(5, auto);
    justify-items: end;
}

.link-menu a {
    color: rgb(215, 217, 230);
    font-weight: 500;
    font-size: 10px;
    font-family: "raleway";
}

/* Estilos sección 1 */
.seccion-1 {
    width: 80%;
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.sec1-text {
    width: 60%;
}
.sec1-text h1 {
    color: rgb(254, 255, 253);
    font-family: "open sans";
    font-size: 3.2rem;
    line-height: 1.1;
}

.sec1-text p {
    margin-top: 20px;
    margin-bottom: 60px;
    color: rgb(198, 202, 216);
    font-family: "open sans";
    font-size: 17px;
    font-weight: 400;
}

/* Estilo boton */
.boton-1 {
    background-color: rgb(233, 68, 72);
    border: none;
    padding: 12px 40px;
    font-size: 9.5px;
    color: rgb(254, 255, 253);
    font-weight: 500;
}

/* Esilos sección 2 */
.seccion-2 {
    width: 100%;
    min-height: 75vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px 40px;
    padding: 6% 21%;
}

.sec2-article {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr 2fr;
    justify-items: center;
    text-align: center;
}

.sec2-article img {
    height: 50px;
}

.sec2-article h3 {
    font-family: "raleway";
    color: rgb(81, 82, 82);
    font-size: 12px;
    font-weight: 800;
}

.sec2-article p {
    color: rgb(137, 138, 138);
    font-size: 12px;
    font-weight: 550;
    font-family: "raleway";
    line-height: 1.3;
}

/* Estilos sección 3 */
.seccion-3 {
    width: 100%;
    min-height: 76vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1px;
}

.seccion-3 img {
    width: 100%;
    height: 100%;
}

/* Estilos sección 4 */
.seccion-4 {
    width: 100%;
    min-height: 80vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    padding: 5.5% 19.5%;
    gap: 25px;
}

.sec4-article {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
    gap: 20px;
    font-family: "raleway";
}

.sec4-article p {
    font-size: 11px;
    line-height: 1.5;
    color: rgb(106, 106, 106);
}

.sec4-article img {
    width: 100%;
}

.sec4-art-nom h3 {
    color: rgb(67, 67, 67);
    font-size: 18px;
    font-weight: 500;
}

.sec4-art-nom h4 {
    margin-top: 10px;
    color: rgb(215, 105, 120);
    font-weight: 600;
    font-size: 11px;
}

.sec4-art-img {
    width: 50%;
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 4px;
}

.sec4-art-img img {
    border: 1px solid rgb(216, 216, 216);
    padding: 10px 12px;
    width: auto;
    height: 36px;
}

/* Estilos sección 5 */
.seccion-5 {
    width: 100%;
    min-height: 55vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
}

.sec5-img {
    width: 100%;
    height: 100%;
    background-image: url('../assets/images/Layer\ 19.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.sec5-cont-text {
    background-color: rgb(83, 52, 74);
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 2fr 1fr;
    grid-template-areas:"texto texto texto"
                        "n circulo t";
    padding: 12% 10%;
    padding-right: 37%;
    justify-items: center;
    gap: 20px;
}

.sec5-text {
    grid-area: texto;
}

.sec5-text-cursiva {
    color: rgb(251, 236, 248);
    font-family: "cardo";
    font-style: italic;
    font-size: 1.8rem;
    line-height: 1.2;
}

.sec5-text-pequeño {
    color: rgb(250, 230, 246);
    font-family: "raleway";
    font-size: 10.5px;
    font-weight: 650;
    margin-top: 20px;
}

.sec5-cont-circulos {
    grid-area: circulo;
    display: grid;
    width: 65%;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    grid-template-rows: 1fr;
}

.circulo-1, 
.circulo-2 {
    background-color: rgb(121, 93, 112);
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.circulo-2 {
    background-color: rgb(255, 247, 255);
}

/* Estilos sección 6 */
.seccion-6 {
    width: 100%;
    height: 35vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.sec6-text {
    display: flex;
    flex-direction: column;
    gap: 12px;
    font-family: "raleway";
    text-align: center;
}

.sec6-text-grande {
    color: rgb(74, 74, 74);
    font-size: 1.4rem;
}

.sec6-text-pequeño {
    color: rgb(67, 69, 68);
    font-size: 10.5px;
    font-weight: 750;
}

/* Estilos footer */
footer {
    width: 100%;
    min-height: 40vh;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 70% 30%;
    font-family: "raleway";
}

.foot-sec1 {
    background-color: rgb(59, 62, 99);
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    padding: 5% 20%;
    text-align: center;
    align-items: center;
}

.foot-article {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.foot-article h4 {
    color: rgb(236, 239, 255);
    font-size: 12px;
    font-weight: 600;
}

.foot-article-text {
    color: rgb(125, 129, 164);
    font-size: 12.5px;
    line-height: 1.4;
}

.foot-article-img img {
    height: 48px;
    padding: 15px;
    border: 2px solid rgb(246, 252, 254);
}

.foot-sec2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(48, 52, 85);
    text-align: center;
    color: rgb(104, 109, 130);
    font-size: 12px;
}

.text-blanco {
    color: rgb(236, 239, 255);
}

/* Primer media querie */
@media(max-width: 1279px) {
    /* Estilos menu */
    nav {
        width: 80%;
    }

    /* Estilos sección 1 */
    .seccion-1 {
        width: 90%;
        padding: 6%;
    }

    .sec1-text {
        width: 80%;
    }

    .sec1-text h1 {
        font-size: 2.8rem;
    }

    /* Estilos sección 2 */
    .seccion-2 {
        padding: 6% 16%;
    }

    /* Estilos sección 4 */
    .seccion-4 {
        padding: 5% 12%;
    }

    /* Estilos sección 5 */
    .sec5-cont-text {
        padding: 12% 10%;
        padding-right: 10%;
    }

    /* Estilos Footer */
    .foot-sec1 {
        padding: 5%;
    }
}

/* Segunda Media Querie */
@media(max-width: 920px) {
    /* Estilos menu */
    nav {
        width: 90%;
    }

    /* Estilos sección 1 */
    .seccion-1 {
        width: 100%;
    }

    .sec1-text {
        width: 90%;
    }

    .sec1-text h1 {
        font-size: 2.5rem;
    }

    /* Estilos sección 2 */
    .seccion-2 {
        padding: 6% 12%;
    }

    /* Estilos sección 3 */
    .seccion-3 {
        min-height: 50vh;
    }

    /* Estilos sección 4 */
    .seccion-4 {
        padding: 5% 8%;
    }

    /* Estilos sección 5 */
    .sec5-cont-circulos {
        width: 80%;
    }

    /* Estilos Footer */
    .foot-sec1 {
        padding: 4%;
    }

    .foot-article-img img {
        height: 38px;
        padding: 10px;
    }
}